@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
}
body.no-scroll {
	height: 100vh !important;
	box-sizing: border-box;
	overflow: hidden !important;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.container{
	position: relative;
	max-width: 1170px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 15px;
	top: calc(50% - 11px);
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	position: fixed;
	z-index: 100;
	top: -200%;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	padding: 30px 10px;
	background-color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-menu.active {
	top: 0;
}

.button-text {
    display: inline-block;
    max-width: 100%;
    font-size: 10px;
    font-weight: 300;
    color: #000000;
    line-height: 1.2;
    position: relative;
    text-align: left;
    padding-left: 35px;
    margin-top: 18px;
}
.button-text a {
    color: #000000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.button-text a:hover {
    color: #ffc53c;
}
.button-text .radio-btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 4px;
    left: 0;
    top: calc(50% - 10px);
    box-sizing: border-box;
}
.button-text .radio-btn.error {
    border-color: #ff0000;
    background-color: #ff0000;
}
.button-text .radio-btn:hover {
    cursor: pointer;
}
.button-text .radio-btn.active::before {
    content: '';
    display: block;
    width: 9px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: 10px;
    background-color: #aaadb3;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button-text .radio-btn.active::after {
    content: '';
    display: block;
    width: 12px;
    height: 2px;
    position: absolute;
    left: 6px;
    top: 9px;
    background-color: #aaadb3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup-banner {
    padding: 35px;
    background-image: url('../i/popup-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 95%;
    max-width: 970px;
    box-sizing: border-box;
}
.popup-wrap {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 420px;
    padding: 63px 60px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}
.popup-wrap:before {
    content: '';
    display: block;
    width: calc(100% - 36px);
    height: calc(100% - 36px);
    border: 2px solid #88bc40;
    position: absolute;
    left: 18px;
    top: 18px;
}
.popup-title {
    position: relative;
    display: block;
    font-size: 36px;
    font-family: "Open Sans";
    line-height: 1.2;
    color: #333333;
    font-weight: 700;
    margin-bottom: 25px;
}
.popup-date {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: #88bc40;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.popup-line {
    position: relative;
    display: block;
    max-width: 183px;
    width: 100%;
    height: 1px;
    margin: 0 auto 45px;
    background-color: #333333;
}
.popup-text {
    position: relative;
    display: block;
    line-height: 1.2;
    font-family: "Open Sans";
    font-size: 14px;
    color: #333333;
    margin-bottom: 45px;
}
.popup-text b {
    font-weight: 700;
}
.popup-btn {
    position: relative;
    display: block;
    font-family: "Open Sans";
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    padding: 11px 10px;
    background-color: #88bc40;
    max-width: 183px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.fancybox-slide--html .popup-banner .fancybox-close-small {
    padding: 7px;
    width: 35px;
    height: 35px;
    background-color: #88bc40;
    opacity: 1;
}
.fancybox-slide--html .popup-banner .fancybox-close-small svg path {
    fill: #ffffff;
}



@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	
}
@media screen and (max-width: 767px){
    .container {
        padding: 0 10px;
    }
    .popup-banner {
        padding: 95px 35px 300px;
        background-image: url('../i/popup-banner-mobile.jpg');
    }
    .fancybox-slide--html .popup-banner .fancybox-close-small {
        right: calc(50% - 17.5px);
        top: 30px;
    }
}
@media screen and (max-width: 500px){
    .popup-banner {
        padding: 95px 15px 300px;
    }
    .popup-wrap {
        padding: 20px;
    }
    .popup-wrap:before {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        left: 10px;
        top: 10px;
    }
    .popup-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .popup-date {
        font-size: 12px;
    }
    .popup-line {
        margin: 0 auto 20px;
    }
    .popup-text {
        font-size: 12px;
        margin-bottom: 20px;
    }
}